In [2]:
import psycopg2

In [17]:
try:
    conn = psycopg2.connect("host=127.0.0.1 dbname=studentdb user=student password=student")
    conn.set_session(autocommit=True)
except:
    print("Error:  could not make connection to the Postgres database")
    print(e)

In [23]:
try:
    cur = conn.cursor()
    cur.execute("DROP TABLE IF EXISTS customer_address")
except Exception as e:
        print("Error: Could not drop customer tables")
        print(e)

In [24]:
try:
    cur = conn.cursor()
    cur.execute("""
                CREATE TABLE IF NOT EXISTS customer_address (
                customer_id int PRIMARY KEY, 
                customer_street varchar NOT NULL,
                customer_city text NOT NULL,
                customer_state text NOT NULL);
                """)
except Exception as e:
        print("Error: not get cursor to the Postgres database")
        print(e)

In [25]:
try:
    cur.execute("""
                INSERT into customer_address (customer_id, customer_street, customer_city, customer_state)  
                VALUES(432, '758 Main Street', 'Chicago', 'IL');
                """)
except Exception as e:
    print("Error: Inserting Rows")
    print(e)

In [28]:
try:
    cur.execute("""
                INSERT into customer_address (customer_id, customer_street, customer_city, customer_state)  
                VALUES
                (
                432, '923 Knox Street', 'Albany', 'NY'
                ) 
                ON CONFLICT (customer_id) 
                DO NOTHING;
                """)
except Exception as e:
    print("Error: Inserting Rows")
    print(e)

Error: Inserting Rows
syntax error at or near "ON"
LINE 7:                 ON CONFLICT (customer_id)
                        ^