In [2]:
import psycopg2

In [8]:
try:
    conn = psycopg2.connect("host=127.0.0.1 dbname=studentdb user=student password=student")
except Exception as e:
    print("Error: Could not make connection to the Postgres database")
    print(e)

In [9]:
try:
        cur = conn.cursor()
except Exception as e:
    print("Error: Could not get cursor to the Postgres database")
    print(e)

In [10]:
conn.set_session(autocommit=True)

In [12]:
try: 
    cur.execute("create database udacity")
except Exception as e:
    print(e)

In [14]:
try:
    conn.close()
except Exception as e:
        print(e)

In [17]:
try:
    conn = psycopg2.connect("dbname=udacity")
except Exception as e:
    print("Error: Could not make connection to the Postgres database")
    print(e)

In [18]:
try:
    cur = conn.cursor()
except Exception as e:
    print("Error: Could not get cursor to the Postgres database")
    print(e)

In [19]:
conn.set_session(autocommit=True)

In [20]:
try:
    cur.execute("create table if not exists music_library(album_name varchar, artist_name varchar, year int);")
except Exception as e:
    print("Error: Issue creating table")
    print(e)

In [21]:
try:
    cur.execute("insert into music_library(album_name, artist_name, year) \
                 values (%s, %s, %s)", \
                 ("Let It Be", "The Beatles", 1970))
except Exception as e:
    print("Error: Inserting Rows")
    print(e)

In [22]:
try:
    cur.execute("insert into music_library(album_name, artist_name, year) \
                 values (%s, %s, %s)", \
                 ("Rubber Soul", "The Beatles", 1965))
except Exception as e:
    print("Error: Inserting Rows")
    print(e)

In [23]:
try:
    cur.execute("select * from music_library")
    row = cur.fetchone()
    
    while row:
        print(row)
        row = cur.fetchone()
except Exception as e:
    print("Error: select *")
    print(e)

('Let It Be', 'The Beatles', 1970)
('Rubber Soul', 'The Beatles', 1965)

In [24]:
try:
    cur.execute("drop table music_library")
except Exception as e:
    print("Error: Dropping table *")
    print(e)

In [25]:
cur.close()
conn.close()